@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

@font-face {
    font-family: 'New-YorkerC';
    src: url('../assets/fonts/New-YorkerC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #789776;
    --secondary: #5B6158;
    --bg: #FEFBF7;
    --dark: #637D61;

    --f-R: 'Raleway', sans-serif;
    --f-N: 'New-YorkerC', serif;
}

body {
    background: var(--bg);
    margin: 0;
    font-family: var(--f-R);
    font-size: 16px;
}




.arrow {
    width: 34px;
    height: 34px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.arrow:hover {
    opacity: 0.7;
}

.arrow__icon {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}