@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

@font-face {
    font-family: 'New-YorkerC';
    src: url('../assets/fonts/New-YorkerC.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary: #789776;
    --secondary: #5B6158;
    --bg: #FEFBF7;
    --dark: #637D61;

    --f-R: 'Raleway', sans-serif;
    --f-N: 'New-YorkerC', serif;
}

body {
    background: var(--bg);
    margin: 0;
    font-family: var(--f-R);
    font-size: 16px;
}




.arrow {
    width: 34px;
    height: 34px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.arrow:hover {
    opacity: 0.7;
}

.arrow__icon {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
}


.nav__progress {
    flex: 1;
    position: relative;
    height: 1px;
}

.progress-bar {
    width: 243px;
    height: 1px;
    background: #98958B;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.progress-fill {
    width: 85%;
    height: 2px;
    background: var(--primary);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.navigation__arrows {
    display: flex;
    gap: 8px;
    width: 76px;
}


.carousel-container {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 16px;
    align-items: center
}