.directions {
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 5px 0 0;
    position: relative;
}

.directions__title {
    font-family: var(--f-N);
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.007em;
    color: #618B5E;
    font-weight: 400;
}

.directions__subtitle {
    font-family: var(--f-R);
    font-size: 16px;
    line-height: 130%;
    color: #3F423D;
}

.directions__tags {
    padding: 36px 0px 26px;
    margin-left: -24px;
    overflow-x: auto;
}

.directions__tags::-webkit-scrollbar {
    display: none;
}

.tags-container {
    display: flex;
    gap: 16px;
    width: max-content;
}

.tag {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    height: 39px;
    border: 1px solid #D2CFC7;
    border-radius: 30px;
    background: transparent;
    font-family: var(--f-R);
    font-size: 12px;
    color: var(--secondary);
    cursor: pointer;
}

.tag:hover {
    border-color: var(primary);
}

.tag.active {
    background: var(--primary);
    border-color: var(--primary);
    color: var(--bg);
}

.direction__image {
    width: 100%;
    max-width: 327px;
    height: 258px;
    border-radius: 129px 0 0 0;
    margin-bottom: 290px;
    position: relative;
    overflow: hidden;
}

.direction__image__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
}

.direction__image__img.fade-out {
    animation: fadeOut 0.3s linear forwards;
}

.direction__image__img.fade-in {
    animation: fadeIn 0.3s linear forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.direction__info {
    margin-top: -250px;
}

.direction__name {
    font-family: var(--f-R);
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: var(--secondary);
    margin-bottom: 24px;
}

.direction__details {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 24px;
    max-width: 325px;
}

.detail-item {
    display: flex;
    align-items: center;
    gap: 11px;
}

.detail-icon img {
    width: 100%;
    height: 100%;
    display: block;
}

.detail-text {
    font-family: var(--f-R);
    font-size: 13px;
    line-height: 135%;
    color: #3F423D;
    font-variant-numeric: lining-nums proportional-nums;
}

.direction__description {
    font-family: var(--f-R);
    font-size: 13px;
    line-height: 135%;
    color: #3F423D;
    width: 100%;
    max-width: 326px;
    margin-bottom: 24px;
}

.direction__navigation {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 34px;
    width: 327px;
}

@media (min-width: 768px) {
    .directions {
        max-width: 768px;
        padding: 100px 0 0;
    }

    .directions__header {
        padding: 0;
        position: relative;
        width: 100%;
        height: 69px;
    }

    .directions__title {
        position: absolute;
        width: 428px;
        height: 69px;
        top: 0;
        font-size: 30px;
        line-height: 120%;
        margin-bottom: 0;
        min-height: 69px;
    }

    .directions__subtitle {
        position: absolute;
        width: 245px;
        height: 51px;
        left: 494px;
        top: 5px;
        font-size: 14px;
        line-height: 130%;
    }

    .directions__tags {
        padding: 56px 0 0;
        margin: 0;
        width: 100%;
        overflow-x: visible;
    }

    .tags-container {
        width: 100%;
        min-width: auto;
        justify-content: flex-start;
        height: 47px;
        padding: 0;
    }

    .tag {
        padding: 16px 20px;
        height: 47px;
        font-size: 12px;
    }

    .tag.active {
        background: #618B5E;
        border-color: #618B5E;
    }

    .direction__card {
        padding: 32px 0 0;
        display: flex;
        flex-direction: row;
        gap: 46px;
        position: relative;
    }

    .direction__image {
        width: 312px;
        height: 422px;
        margin-bottom: 0;
        border-radius: 156px 156px 156px 0;
    }

    .direction__info {
        margin-top: 0;
        flex: 1;
        position: relative;
    }

    .direction__name {
        margin-bottom: 0px;
        font-size: 15px;
    }

    .direction__details {
        width: 100%;
        margin-bottom: 46px;
        gap: 23px;
    }

    .detail-item {
        height: auto;
    }

    .detail-icon {
        width: 27px;
        height: 27px;
        flex-shrink: 0;
    }

    .detail-text {
        font-size: 16px;
        line-height: 130%;
        white-space: normal;
    }

    .direction__description {
        width: 338px;
        font-size: 14px;
        line-height: 125%;
        max-width: none;
    }

    .direction__navigation {
        position: absolute;
        width: 338px;
        height: 34px;
        left: 390px;
        top: 465px;
    }

    .nav__progress {
        position: absolute;
        left: 84px;
        width: 254px;
        height: 1px;
    }

    .progress-bar {
        width: 254px;
        top: 50%;
    }

    .progress-fill {
        width: 53px;
        top: 50%;
        background: var(--primary);
    }
}

@media (min-width: 1600px) {
    .directions {
        max-width: 1600px;
        top: 120px;
    }

    .directions__header {
        position: relative;
        left: 200px;
        height: 200px;
    }

    .directions__title {
        width: 692px;
        display: flex;
        align-items: center;
        left: 0;
        font-size: 48px;
    }

    .directions__subtitle {
        display: flex;
        align-items: center;
        top: 0;
        margin-top: 0;
        width: 362px;
        height: 105px;
        left: 793px;
        font-size: 20px;
    }

    .directions__tags {
        position: absolute;
        width: 319px;
        left: 200px;
        padding: 0;
    }

    .tags-container {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
        width: 100%;
        height: 100%;
    }

    .tag {
        padding: 16px 32px;
        height: 50px;
        font-size: 14px;
    }

    .tag.active {
        background: var(--primary);
        border-color: var(--primary);
    }

    .direction__card {
        position: relative;
        height: 493px;
        left: 566px;
        padding: 0;
        gap: 60px;
        align-items: flex-start;
    }

    .direction__image {
        width: 346px;
        height: 493px;
    }

    .direction__info {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .direction__name {
        order: 1;
        font-size: 24px;
        margin-bottom: 40px;
    }

    .direction__details {
        order: 2;
    }

    .detail-item {
        display: flex;
        align-items: center;
        gap: 11px;
    }

    .detail-icon {
        width: 25px;
        height: 25px;
        flex-shrink: 0;
    }

    .direction__description {
        order: 3;
        line-height: 130%;
        width: 407px;
        margin: 0;
        font-size: 16px;
    }

    .direction__flower {
        position: absolute;
        left: 200px;
        top: 500px;
        pointer-events: none;
        z-index: 1;
    }
}

@media (max-width: 1599px) {
    .direction__flower {
        display: none;
    }
}