.price {
    max-width: 375px;
    margin: 0 auto;
    padding: 88px 0 0;
}

.price__title {
    font-family: var(--f-N);
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.007em;
    color: var(--primary);
    font-weight: 400;
}

.price__note {
    font-family: var(--f-R);
    font-size: 13px;
    line-height: 135%;
    color: var(--secondary);
    margin-bottom: 8px;
}

.price__info {
    font-family: var(--f-R);
    font-size: 13px;
    line-height: 135%;
    color: var(--secondary);
    margin-bottom: 40px;
}

.price__note strong,
.price__info strong {
    font-weight: 600;
}

.price__single {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.single-session {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.single-session__price {
    font-family: var(--f-R);
    font-weight: 300;
    font-size: 32px;
    color: var(--secondary);
    font-variant-numeric: lining-nums proportional-nums;
}

.single-session__divider {
    width: 91px;
    height: 1px;
    background: #98958B;
    opacity: 0.5;
}

.single-session__details {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 8px;
    width: 89px;
    height: 23px;
}

.single-session__count {
    width: 14px;
    height: 23px;
    font-family: var(--f-R);
    font-size: 32px;
    line-height: 120%;
    color: var(--secondary);
    font-variant-numeric: lining-nums proportional-nums;
}

.single-session__text {
    height: 10px;
    font-family: var(--f-R);
    font-size: 14px;
    line-height: 120%;
    color: var(--secondary);
}

.price__button {
    padding: 17px 40px;
    width: 191px;
    background: var(--primary);
    border-radius: 53px;
    border: none;
    cursor: pointer;
}

.price__button:hover {
    opacity: 0.9;
}

.price__button-text {
    font-family: var(--f-R);
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--bg);
}

.price__cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.price-card {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.price-card__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-card__details {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.price-card__count {
    font-family: var(--f-R);
    font-size: 32px;
    line-height: 120%;
    color: var(--secondary);
    font-variant-numeric: lining-nums proportional-nums;
}

.price-card__text {
    width: 65px;
    font-family: var(--f-R);
    font-size: 14px;
    line-height: 120%;
    color: var(--secondary);
    margin-bottom: 4px;
    word-wrap: break-word;
    white-space: normal;
}

.price-card__month-price {
    font-family: var(--f-R);
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.007em;
    color: var(--secondary);
    font-variant-numeric: lining-nums proportional-nums;
}

.price-card__divider {
    width: 100%;
    height: 1px;
    background: #98958B;
    opacity: 0.5;
}

.price-card__offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-card__offer-details {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.price-card__offer-count {
    font-family: var(--f-R);
    font-size: 32px;
    line-height: 120%;
    color: var(--primary);
    font-variant-numeric: lining-nums proportional-nums;
}

.price-card__offer-text {
    font-family: var(--f-R);
    font-size: 14px;
    line-height: 120%;
    color: var(--primary);
    margin-bottom: 4px;
}

.price-card__session-price {
    font-family: var(--f-R);
    font-weight: 300;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.007em;
    color: var(--primary);
    font-variant-numeric: lining-nums proportional-nums;
}

.price-card__unlimited {
    display: flex;
    align-items: flex-end;
    gap: 8px;
}

.price-card__unlimited-text {
    font-family: var(--f-R);
    font-size: 14px;
    line-height: 120%;
    color: var(--primary);
    width: 119px;
}

.price__description {
    display: none;
}

.price__button--tablet {
    display: none;
}

@media (min-width: 768px) {
    .price__description {
        grid-column: 2;
        grid-row: 1;
        display: flex;
        flex-direction: column;
        margin: 5% 0;
    }

    .price {
        max-width: 768px;
        padding: 100px 0 80px;
        display: grid;
        grid-template-columns: 336px 338px;
        grid-template-rows: auto auto auto;
        gap: 32px 21px;
        align-items: start;
    }

    .price__header {
        grid-column: 1;
        grid-row: 1;
        margin-bottom: 0;
    }

    .price__title {
        font-size: 30px;
        margin-bottom: 0;
        line-height: 120%;
    }

    .price__header .price__note,
    .price__header .price__info {
        display: none;
    }

    .price__note {
        margin-bottom: 0;
        font-size: 14px;
    }

    .price__info {
        margin-bottom: 0;
        font-size: 14px;
    }

    .price__info strong {
        font-weight: 600;
        color: var(--primary);
    }

    .price__single {
        grid-column: 1;
        grid-row: 2;
    }

    .price__cards .price__button--tablet {
        display: flex;
        align-items: center;
        padding: 24px 56px;
        width: 240px;
        height: 55px;
        border: 1.3px solid var(--primary);
        border-radius: 53px;
        background: transparent;
        cursor: pointer;
        grid-row: 3;
    }

    .price__cards .price__button--tablet:hover {
        background: var(--primary);
    }

    .price__cards .price__button--tablet:hover .price__button-text {
        color: var(--bg);
    }

    .price__cards .price__button--tablet .price__button-text {
        font-family: var(--f-R);
        font-size: 13px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--primary);
    }

    .price__single .price__button {
        display: none;
    }

    .price__cards .price__button--signup {
        display: none;
    }

    .price__cards {
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
        display: grid;
        grid-template-columns: 338px 338px;
        gap: 32px 21px;
    }

    .price-card[data-id="2"] {
        grid-column: 2;
        grid-row: 1;
    }

    .price-card[data-id="3"] {
        grid-column: 1;
        grid-row: 2;
    }

    .price-card[data-id="4"] {
        grid-column: 2;
        grid-row: 2;
    }

    .price-card[data-id="1"] {
        grid-column: 1;
        grid-row: 3;
    }
}

@media (min-width: 1600px) {
    .price {
        max-width: 1200px;
        padding: 200px 200px 120px;
        grid-template-columns: 243px 346px 407px;
        grid-template-rows: auto auto;
        gap: 40px 82px;
        margin: 0 auto;
    }

    .price__title {
        width: 692px;
        display: flex;
        align-items: center;
        font-size: 48px;
        grid-column: 1;
        grid-row: 1;
    }

    .price__description {
        grid-column: 3;
        grid-row: 1;
        margin: 10% auto;
    }

    .price__cards {
        grid-column: 1 / span 3;
        grid-row: 2;
        grid-template-columns: 243px 346px 407px;
        grid-template-rows: auto auto;
        gap: 48px 82px;
    }

    .price__single {
        grid-column: 1;
        grid-row: 2;
        margin: 0;
    }

    .price-card[data-id="1"] {
        grid-column: 2;
        grid-row: 1;
    }

    .price-card[data-id="2"] {
        grid-column: 3;
        grid-row: 1;
    }

    .price-card[data-id="3"] {
        grid-column: 2;
        grid-row: 2;
    }

    .price-card[data-id="4"] {
        grid-column: 3;
        grid-row: 2;
    }

    .price__button--tablet {
        grid-column: 1;
        grid-row: 1;
        align-self: end;
        margin-top: -20px;
        position: relative;
        z-index: 1;
    }

    .price__cards .price__button--review {
        display: none;
    }

    .price__cards .price__button--signup {
        display: flex;
        justify-content: center;
        background: var(--primary);
        grid-row: 2;
    }

    .price__cards .price__button--signup:hover {
        opacity: 0.9;
        background: var(--primary);
    }

    .price__cards .price__button--signup .price__button-text {
        font-family: var(--f-R);
        font-size: 15px;
        line-height: 15px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: var(--bg);
    }
}