.timetable {
    position: relative;
    width: 100%;
    max-width: 375px;
    margin: 0 auto;
    padding: 44px 0 0;
}

.timetable__title {
    width: 326px;
    font-family: var(--f-N);
    font-size: 26px;
    line-height: 120%;
    letter-spacing: 0.007em;
    color: var(--primary);
    margin-bottom: 24px;
    font-weight: 400;
}

.timetable__description {
    font-family: var(--f-R);
    font-size: 13px;
    line-height: 135%;
    color: var(--secondary);
    margin-bottom: 40px;
}

.timetable__days {
    display: flex;
    gap: 40px;
    overflow-x: auto;
    border-bottom: 1px solid #CBC8C1;
    margin-bottom: 55px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.timetable__day {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    min-width: 57px;
    opacity: 0.5;
    flex-shrink: 0;
}

.timetable__day--active {
    opacity: 1;
}

.timetable__day-name {
    font-family: var(--f-R);
    font-size: 14px;
    color: var(--secondary);
}

.timetable__day--active .timetable__day-name {
    color: var(--primary);
}

.timetable__day-line {
    width: 100%;
    height: 2px;
    background: var(--primary);
    display: none;
}

.timetable__day--active .timetable__day-line {
    display: block;
}

.timetable__table {
    margin-bottom: 40px;
}

.timetable__header {
    display: grid;
    grid-template-columns: 1fr 63px 1fr 50px;
    padding-bottom: 7px;
    margin-bottom: 4px;
    border-bottom: 1px solid #CBC8C1;
}

.timetable__header-item:nth-child(1) {
    grid-column: 1;
}

.timetable__header-item:nth-child(2) {
    grid-column: 2;
    text-align: center;
}

.timetable__header-item:nth-child(3) {
    grid-column: 3;
    text-align: center;
}

.timetable__row {
    display: grid;
    grid-template-columns: 1fr 63px 1fr 50px;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid #CBC8C1;
}

.timetable__class-info {
    grid-column: 1;
}

.timetable__time {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timetable__duration {
    grid-column: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--f-R);
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0;
    font-variant-numeric: lining-nums proportional-nums;
    color: var(--secondary);
}

.timetable__actions {
    grid-column: 4;
    display: flex;
    gap: 16px;
    align-items: center;
}

.timetable__action-btn {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
}

.timetable__header-item {
    font-family: var(--f-R);
    font-size: 12px;
    color: var(--secondary);
    opacity: 0.6;
}

.timetable__class-name {
    font-family: var(--f-R);
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary);
}

.timetable__teacher {
    font-family: var(--f-R);
    font-size: 11px;
    line-height: 13px;
    color: #98958B;
}

.timetable__start-time {
    font-family: var(--f-R);
    font-size: 14px;
    line-height: 16px;
    color: var(--secondary);
    font-feature-settings: 'pnum' on, 'lnum' on;
}

strong {
    font-weight: 400;
}

.timetable__teacher-column {
    display: none;
}

.timetable__image {
    display: none;
}

@media (min-width: 768px) {
    .timetable {
        max-width: 768px;
        display: grid;
        grid-template-columns: 336px 338px;
        gap: 56px 21px;
        padding: 0 0;
    }

    .timetable__title {
        font-size: 30px;
        margin: 0 0 0;
    }

    .timetable__description {
        grid-column: 2;
        width: 337px;
        margin-bottom: 0;
        line-height: 125%;
    }

    .timetable__description strong {
        font-family: var(--f-R);
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        line-height: 125%;
        letter-spacing: 0;
        text-transform: uppercase;
        font-variant-numeric: lining-nums proportional-nums;
        color: var(--primary);
    }

    .timetable__days {
        grid-column: 1 / span 2;
        border-bottom: none;
        margin-bottom: 0;
        overflow-x: visible;
    }

    .timetable__day {
        gap: 20px;
    }

    .timetable__table {
        grid-column: 1 / span 2;
        grid-row: 3;
        width: 696px;
        margin: -20px 0 40px;
    }

    .timetable__header {
        display: none;
    }

    .timetable__row {
        grid-template-columns: 1fr 0.5fr 1fr 1fr 0.5fr 0.2fr;
        gap: 21px;
        padding: 23px 0;
    }

    .timetable__class-info {
        grid-column: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .timetable__time {
        grid-column: 2;
    }

    .timetable__duration {
        grid-column: 3;
        font-family: var(--f-R);
        font-size: 14px;
        line-height: 16px;
        color: var(--secondary);
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .timetable__teacher-column {
        display: block;
        grid-column: 4;
        font-family: var(--f-R);
        font-size: 14px;
        line-height: 16px;
        color: var(--secondary);
        font-feature-settings: 'pnum' on, 'lnum' on;
    }

    .timetable__actions {
        grid-column: 5;
        gap: 20px;
    }

    .timetable__action-btn {
        width: 18px;
        height: 18px;
    }

    .timetable__class-info .timetable__teacher {
        display: none;
    }
}

@media (min-width: 1600px) {
    .timetable {
        max-width: 1182px;
        grid-template-columns: 243px 346px 407px;
        grid-template-rows: auto auto auto;
        gap: 40px 82px;
        margin: 0 auto;
    }

    .timetable__title {
        width: 670px;
        font-size: 48px;
    }

    .timetable__description {
        grid-column: 3;
        width: 100%;
        font-size: 14px;
    }

    .timetable__table {
        width: 100%;
        margin: 0;
    }

    .timetable__teacher-column {
        display: flex;
    }

    .timetable__description strong {
        color: var(--secondary);
        font-weight: 600;
    }

    .timetable__image {
        grid-row: 2 / span 2;
        width: 100%;
        display: block;
        align-self: end
    }

    .timetable__day {
        gap: 5px;
    }

    .timetable__day:not(.timetable__day--active) {
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .timetable__day:not(.timetable__day--active):hover {
        transform: translateY(-3px);
    }

    .timetable__day:not(.timetable__day--active):hover .timetable__day-line {
        display: block;
        opacity: 0.8;
        bottom: -2px;
        height: 2px;
    }

    .timetable__day-line {
        transition: opacity 0.3s ease;
    }
}



.modal-overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.modal {
    box-sizing: border-box;
    position: relative;
    width: 339px;
    height: 460px;
    background: var(--bg);
    border: 1px solid #CBC8C1;
}

.modal__close {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 32px;
    top: 32px;
    border: none;
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.modal__close::before,
.modal__close::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background: #98958B;
}

.modal__close::before {
    transform: rotate(45deg);
}

.modal__close::after {
    transform: rotate(-45deg);
}

.modal__title {
    position: absolute;
    left: 77px;
    top: 56px;
    font-family: var(--f-N);
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.007em;
    color: var(--primary);
    margin: 0;
}

.modal__class-info {
    position: absolute;
    left: 50px;
    top: 144px;
    font-size: 14px;
    color: var(--secondary);
}

.modal__divider {
    position: absolute;
    width: 226px;
    height: 1px;
    left: 50px;
    top: 164px;
    background: #CBC8C1;
}

.modal__form {
    position: absolute;
    left: 50px;
    top: 90px;
}

.modal__phone-group {
    position: absolute;
    width: 226px;
    height: 21px;
    left: 0;
    top: 107px;
}

.modal__comment-group {
    position: absolute;
    width: 226px;
    height: 20px;
    left: 0;
    top: 161px;
}

.modal__input {
    width: 100%;
    border: none;
    background: transparent;
    font-family: var(--f-R);
    font-size: 14px;
    padding: 0;
}

.modal__input::placeholder {
    color: #CBC8C1;
}

.modal__input-line {
    position: absolute;
    width: 226px;
    height: 1px;
    left: 0;
    top: 20px;
    background: #CBC8C1;
}

.modal__checkbox-group {
    position: absolute;
    width: 233px;
    left: 0;
    top: 302px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.modal__checkbox {
    width: 16px;
    height: 16px;
    border: 2px solid #98958B;
    border-radius: 2px;
    appearance: none;
    cursor: pointer;
    margin: 0;
}

.modal__checkbox:checked {
    background: var(--primary);
    border-color: var(--primary);
}

.modal__checkbox-label {
    font-size: 10px;
    color: var(--secondary);
}

.modal__submit {
    position: absolute;
    width: 240px;
    height: 55px;
    left: 0;
    top: 215px;
    background: var(--primary);
    border-radius: 53px;
    border: none;
    font-family: var(--f-R);
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--bg);
    cursor: pointer;
}

.modal__success {
    display: none;
    text-align: center;
}

.modal__success-title {
    position: absolute;
    left: 50px;
    top: 171px;
    font-family: var(--f-N);
    font-size: 20px;
    color: var(--primary);
}

.modal__success-message {
    position: absolute;
    left: 55px;
    top: 250px;
    font-family: var(--f-R);
    font-size: 14px;
    color: var(--secondary);
}