header {
    width: 100%;
    padding: 0 24px 0;
    margin: 0 auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 26px;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-text {
    font-family: Bookman Old Style;
    font-weight: 300;
    font-size: 10.29px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--primary);
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.phone-number {
    font-family: var(--f-R);
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    font-variant-numeric: lining-nums proportional-nums;
    color: var(--secondary);
    white-space: nowrap;
}

.header__menu-btn {
    width: 30px;
    height: 17px;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.header__nav {
    display: none;
}

@media (min-width: 768px) {
    header {
        max-width: 80%;
        padding: 19px 36px 0;
        margin: 0 auto 0;
    }
}

@media (min-width: 1600px) {
    header {
        max-width: 1600px;
        width: 100%;
        padding: 0 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .header__logo {
        gap: 6px;
    }

    .logo-icon {
        width: 50px;
        height: 50px;
    }

    .logo-text {
        font-size: 12.8px;
    }

    .header__nav {
        display: flex;
        width: 472px;
        justify-content: space-between;
        margin: 0;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .nav__link {
        font-family: Raleway;
        font-weight: 500;
        font-style: Medium;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 5%;
        vertical-align: bottom;
        text-transform: uppercase;
        color: var(--secondary);
        text-decoration: none;
    }

    .nav__link:hover {
        color: var(--primary);
    }

    .header__phone {
        position: static;
        gap: 5px;
    }

    .phone-number {
        font-size: 15px;
    }

    .header__menu-btn {
        display: none;
    }
}