@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
    --primary: #789776;
    --secondary: #5B6158;
    --bg: #FEFBF7;
}

body {
    background: var(--bg);
    margin: 0;
    font-size: 16px;
}

header {
    width: 100%;
    max-width: 328px;
    margin: 20px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 19px;
    left: 24px;
    opacity: 1;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo-text {
    font-family: Bookman Old Style;
    font-weight: 300;
    font-style: Regular;
    font-size: 10.29px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: var(--primary);
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.phone-number {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    text-transform: uppercase;
    font-variant-numeric: lining-nums proportional-nums;
    color: var(--secondary);
    white-space: nowrap;
}

.header__menu-btn {
    width: 30px;
    height: 17px;
    background: transparent;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.header__nav {
    display: none;
}

@media (min-width: 768px) {
    header {
        max-width: 696px;
        padding: 0 36px;
    }
}

@media (min-width: 1440px) {
    header {
        max-width: 1440px;
        margin: 0 auto;
        padding: 26px 205px 0;
        justify-content: flex-start;
        position: relative;
    }

    .header__logo {
        gap: 6px;
    }

    .logo-icon {
        width: 50px;
        height: 50px;
    }

    .logo-text {
        font-size: 12.8px;
    }

    .header__nav {
        display: flex;
        width: 472px;
        justify-content: space-between;
        margin: 17px 0 0 156px;
    }

    .nav__link {
        font-family: Raleway;
        font-weight: 500;
        font-style: Medium;
        font-size: 13px;
        line-height: 100%;
        letter-spacing: 5%;
        vertical-align: bottom;
        text-transform: uppercase;
        color: var(--secondary);
    }

    .nav__link:hover {
        color: var(--primary);
    }

    .header__phone {
        position: absolute;
        right: 205px;
        top: 37px;
        gap: 5px;
    }

    .phone-number {
        font-size: 15px;
    }

    .header__menu-btn {
        display: none;
    }
}